@font-face {
    font-family: "game";
    src: url(./fonts/ARCADECLASSIC.TTF);
}

@font-face {
    font-family: "game2";
    src: url(./fonts/ARCADE.TTF);
}

div[class*="cell"] {
    background-color: plum;
    border: 2px solid black;
}

div[class*="cell"]:hover {
    background-color: aquamarine;
}

#all {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
}

.title {
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: "game2";
    font-size: 100px;
    color: brown;
}
.game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cell {
    background-color: aqua;
    /* width: 200px; */
    /* height: 200px; */
    border: 2px solid green;
}

body {

    padding: 0;
    margin: 0;
    background-color: rgba(128, 128, 128, 0.63);
}

.copy {
    /* background-color: antiquewhite; */
    position: fixed;
    font-size: 20px;
    bottom: 0;
    align-self: center;   
}

.cell  {
    /* width: 250px; */
    /* height: 250px; */
    background-color: brown;
    font-size: 70px;
    text-align: center;
    align-items: center;
    padding-top: 020px;

}


.disable {
    pointer-events: none;
}



#winner {
    display: none;
    /* background-color: brown; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#winner.enable {
    pointer-events: all;
    display: block;
    filter: opacity(0.8);
    align-items: center;
    font-size: 50px;
    position: absolute;
    top: 30%px;
    text-align: center;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 50px;
}

button {
    padding: 20px;
    font-size: 40px;
    border-radius: 40px;
}

#title {
    margin-top: 20px;
    margin-bottom: 40px;
    /* marign-top: 50px; */
    font-size: 70px;
}

.copy {
    margin-bottom: 10px;
}

